<h2 class="text-start mb-5">Clientes Cadastrados</h2>
<table class="table table-striped">
  <thead>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.nome}}</td>
      <td>{{ cliente.sobrenome}}</td>
      <td>{{ cliente.email}}</td>
      <td>{{ cliente.telefone}}</td>
      <td>
        <button (click) = "atualizarCliente(cliente.id)"
        class="btn btn-info">Editar</button>
        <button (click) = "deleteCliente(cliente.id)"
        class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
      </td>
    </tr>


  </tbody>
</table>
